<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PontoSync</title>
</head>
<body>  
    <div class="dashboard">
        <h1>Olá!</h1>
            <p id="data"></p>
                <p id="relogio"></p>
                    <button id="ponto">Bater Ponto</button>
                        <p id="entrada">Entrada registrada às </p>
                            <p id="intervalo">Intervalo iniciado às</p>
                                <p id="retorno">Retorno intervalo às</p>
                                    <p id="saida">Saida registrada às</p>
    </div>
    <script src="/static/js/script.js"></script>
</body>
</html>